<div class="container">
  <ul>
    <li><a routerLink="/a">a</a></li>
    <li><a routerLink="/b">b</a></li>
    <li><a routerLink="/c">c</a></li>

    <li>
        <button (click)="navigation.goBack()">Back to {{navigation.getPreviousUrl()}} </button>
    </li>
</ul>
    <div class="form-group">
        <br><br>
        <h3 for="userName">iTunes Search Item</h3>
        <input type="text" class="form-control" name="term" [(ngModel)]="term">
      </div>
      <div class="text-center">
        <p class="lead" *ngIf="loading">Loading...</p>
      </div>
      <br>
      <div class="form-group">
        <button class="btn btn-primary" type="button" (click)="search()">Search</button>
      </div>
    <br>
    
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Main</th>
            <th scope="col">Title</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
       
        <tbody>
          <tr *ngFor="let track of results; let i = index">
            <th scope="row">{{i+1}}</th>
            <td><img style=" width: 60px;height: 60px;object-fit: cover" src="{{track.artworkUrl60}}"></td>
            <td style="max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;" class="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;"> <a style="font-weight:600;margin-left:10px" target="_blank"
                href="{{track.collectionViewUrl}}">{{ track.collectionCensoredName }}
             </a></td>
            <td style="max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;" class="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">{{ track.collectionCensoredName }}</td>
            <td style="max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;"><a class="btn btn-primary" href="detail/{{term}}/{{i}}" role="button">View</a></td>
          </tr>
         
        </tbody>
      </table>
  
</div>

 
